vendor/*
builds/*.zip
!builds/modern-framework-latest-stable.zip
!builds/modern-framework-latest-dev.zip
annotations/cache
boilerplate
docs
modern-wordpress.wiki
builddoc.bat
bin
phpunit.xml.dist
tests/bootstrap.php
data/install-meta.php
